*{
    background-image: url(fotos/png-clipart-astronaut-information-outer-space-astronaut-image-file-formats-space.png),url(fotos/via-lactea.jpg);
    background-size: 40px,cover;
    background-repeat: repeat-y,no-repeat;
}