h1{
    background-image: linear-gradient(red,yellow,yellow,red); 
}
h2{
    background-image: linear-gradient(red,yellow,yellow,red); 
} 
h3{
    background-color: transparent;
    background-image: linear-gradient(to right, rgb(255, 0, 0) , rgb(217, 255, 0), rgb(217, 255, 0),rgb(255, 0, 0));
}
p{
    background-image: radial-gradient( rgb(255, 0, 0),
    rgb(229, 255, 0),rgb(238, 255, 0),rgb(255, 0, 0));
}